{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% block asc_posts %}

        <div class="asc-blog">
            <div class="container">
                <div class="posts">

                    {% for post in posts.elements %}
                        <div class="post">
                            <div class="post__image post__image--1" style="background-image: url('{{ post.media.url }}');"></div>
                            <div class="post__content">
                                <div class="post__inside">
                                    <h3 class="post__title">{{ post.translated.postTitle }}</h3>
                                    <p class="date-author">{{ post.user.username }} | {{ post.createdAt.date|date("F d, Y") }}</p>
                                    <p class="post__excerpt">
                                        {% if(post.translated.postExcerpt) %}
                                            {{ post.translated.postExcerpt|raw|u.truncate(170) }}...
                                        {% else %}
                                            {{ post.translated.postContent|raw|u.truncate(170) }}...
                                        {% endif %}
                                    </p>
                                    {% set categoryId = "" %}
                                    {% for category in post.category.elements %}
                                        {% set categoryId = category.categoryId %}
                                    {% endfor %}
                                    <a href="/blog/{{ post.id }}" class="btn--accent post__button">
                                        Read more
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    {% endblock %}
{% endblock %}
