{% block sw_product_detail %}
<sw-page class="sw-product-detail">

    {% block sw_product_list_smart_bar_actions %}
    <template #smart-bar-actions>
        {% block sw_product_list_smart_bar_actions_add %}
        <sw-button :routerLink="{ name: 'asc.post.create' }" variant="primary">
            {{ 'Add New Post' }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}

    <template #content>
        {% block sw_product_list_content %}
            <div class="sw-product-list__content">
                {% block sw_product_list_grid %}
                    <sw-entity-listing
                        v-if="bundles"
                        :items="bundles"
                        :repository="ascPostRepository"
                        :showSelection="true"
                        :columns="columns"
                        detailRoute="asc.post.detail">
                    </sw-entity-listing>
                {% endblock %}
            </div>
        {% endblock %}
    </template>
</sw-page>
{% endblock %}
