$line-height: 1.25;
$excerpt-height: 5.5rem * $line-height;
// title (fontSize + marginBottom) + excerpt + button (marginTop + 2 * paddingTopBottom + fontSize + borderWidth) + safe-space
$content-height: (1.35rem + 1rem) + $excerpt-height + (1rem + 2 * 0.35rem + 1rem ) + 0.25rem + 0.1rem;
// title (fontSize + marginBottom) + excerpt (2 lines)
$content-height-collapsed: (1.35rem + 2rem) + (2rem * $line-height);
$content-overlap-collapsed: 5rem;
$content-overlap: ($content-height - $content-height-collapsed) + $content-overlap-collapsed;
