{% block sw_product_detail %}
    <sw-page class="sw-product-detail">
        {% block sw_product_detail_language_switch %}
            <template slot="language-switch">
                <sw-language-switch
                    @on-change="onChangeLanguage">
                </sw-language-switch>
            </template>
        {% endblock %}

        {% block sw_review_detail_actions %}
            <template slot="smart-bar-actions">
                {% block sw_review_detail_actions_save %}
                    <sw-button :disabled="false" variant="primary" :square="false" :block="false" :isLoading="isLoading"  @click.prevent="onClickSave()">
                        {{ category.id ? 'Save category' : 'Add category' }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        <sw-card-view slot="content">
            <sw-card :hero="false" :isLoading="isLoading" :large="true" v-if="category" style='margin-top: 30px'>

                <sw-alert v-if="showSuccessMsg" variant="success" appearance="default" :showIcon="true" :closable="false">
                    {{ msg }}
                </sw-alert>

                <sw-alert v-if="showErrorMsg" variant="error" appearance="default" :showIcon="true" :closable="false">
                    {{ msg }}
                </sw-alert>

                <sw-text-field :copyable="false" label="Category Name:" :copyableTooltip="false" v-model="category.categoryName" ref='categoryName' placeholder="Category Name">
                    Post Title
                </sw-text-field>

                <sw-text-field :copyable="false" label="Category Slug:" :copyableTooltip="false" v-model="category.categorySlug" ref='categorySlug' placeholder="Category Slug">
                    Post Slug
                </sw-text-field>

                <sw-text-editor placeholder="Category Content" label="Category Content" ref="categoryDescription" v-model="category.categoryDescription">
                </sw-text-editor>

                <sw-upload-store-listener uploadTag='splashScreen'
                                          autoUpload
                                          @media-upload-finish="setMediaItem($event, 'splashScreen')">
                </sw-upload-store-listener>

                <sw-media-upload
                    style="padding-top: 20px"
                    uploadTag="splashScreen"
                    variant="regular"
                    :allowMultiSelect="false"
                    autoUpload="true"
                    label="Upload an image that will be the base of your scene"
                    @media-drop="onDropMedia($event, 'appIcon')"
                    @media-upload-remove-image="onRemoveMedia('appIcon')"
                    @media-upload-sidebar-open="openMediaSidebar('appIcon')">
                </sw-media-upload>

            </sw-card>
        </sw-card-view>
    </sw-page>

{% endblock %}
