.asc-blog {
    a {
        font-size: 14px;
        padding: 7px 20px;
        line-height: 1;
        background-color: transparent;
        border: 1px solid $primary;
        border-radius: 2rem;
        cursor: pointer;
        transition: 0.1s;
        outline: 0;
        display: inline-block;

        &:hover {
            background-color: $primary;
            color: #fff;
            text-decoration: none;
        }

        &.btn--primary {
            border-color: $primary;
            color: $primary;

            &:hover {
                background-color: $primary;
                color: #fff;
            }
        }

        &.btn--accent {
            border-color: $primary;
            color: $primary;

            &:hover {
                background-color: $primary;
                color: #fff;
            }
        }
    }

    .posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.5rem;

        @media(max-width: 1140px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .post {

        &__image {
            width: 100%;
            height: 240px;
            position: relative;
            overflow: hidden;
            background-size: cover;
            background-position: center center;

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }

            // image
            &:before {
                background-size: cover;
                background-position: center center;
                transform: scale(1);
                filter: blur(0);
                transition: 2s cubic-bezier(0, 0.6, 0.2, 1);
            }

            // overlay
            &:after {
                // background-color: $primary;

                background: linear-gradient(30deg, $primary 0%, $accent 100%);
                background-size: 100% 300%;
                background-position: bottom left;
                opacity: 0.15;
                transition: 2s cubic-bezier(0, 0.6, 0.2, 1);
            }

            &--1:before {
                background-image: inherit;
            }
        }

        &__content {
            margin: -1 * $content-overlap-collapsed 1.5rem 0;
            padding: 1.5rem;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
            transition: margin 0.2s ease-in-out;
            position: relative;
            z-index: 1;
            user-select: none;
        }

        &__inside {
            overflow: hidden;
            height: $content-height-collapsed;
            transition: height 0.2s ease-in-out;
        }

        &__title {
            font-size: 1.35rem;
            line-height: 1;
            margin: 0 0 5px;
            font-weight: 300;
        }

        &__excerpt {
            overflow: hidden;
            margin: 0;
            max-height: $excerpt-height;
            position: relative;
        }

        &__button {
            margin-top: 1rem;
        }


    }

    /* ====== HOVER ====== */

    .post:hover {
        .post {
            &__content {
                margin-top: -1 * $content-overlap;
            }

            &__inside {
                height: $content-height;
            }

            &__image {
                &:after {
                    opacity: 0.5;
                }

                &:before {
                    transform: scale(1.1);
                    filter: blur(10px);
                }

            }
        }
    }

    .author {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .date-created {
        font-size: 10px;
        margin-bottom: 10px;
        text-align: right;
    }

    .date-author {
        font-size: 10px;
        margin-bottom: 10px;
        color: #6c757d;
    }
}
