@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);

.asc-single-post {
    font-size: 16px;
    line-height: 1.5;
    color: #433F3F;

    a {
        padding-bottom: 2px;
        color: #433F3F;
        text-decoration: none;
        border-bottom: 1px solid #433F3F;
        transition: all .15s ease-in-out;

        &:hover {
            color: #A34040;
            border-bottom-color: #A34040;
        }
    }

    #page {
        margin: 120px auto 60px;
        padding: 0 30px;
        max-width: 900px;
    }

    .site-header {
        text-align: center;
        height: 400px;
        background-repeat: no-repeat !important;
        background-size: cover !important;

        &:after {
            display: block;
            content: '';
            margin: 60px auto 90px;
            max-width: 400px;
            border-bottom: 1px solid #D6CCC7;
        }
    }

    h1.site-title {
        margin: 0 0 15px 0;
        font-size: 64px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.3;

        a {
            border: none;
        }
    }

    p.site-description {
        margin: 0;
        font-size: 16px;
        color: #64625C;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .site-main {
        margin: auto;
        max-width: 640px;

        .entry-title, .entry-meta {
            text-align: center;
        }
    }

    h1.entry-title {
        margin: 60px 0 5px 0;
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .entry-meta .posted-on {
        margin: 0;
        color: #64625C;
        font-size: 18px;
        font-style: italic;
    }

    .entry-content {
        margin-top: 60px;
        font-size: 22px;

        > p:first-of-type:first-line {
            text-transform: uppercase;
        }
    }

    .entry-footer {
        margin: 90px 0;
        padding: 30px 0;
        font-size: 18px;
        font-style: italic;
        border-top: 1px solid #D6CCC7;
        border-bottom: 1px solid #D6CCC7;

        p {
            margin: 0;
        }
    }

    .comment-area {
        margin-top: 90px;
    }

    h2.comment-title {
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;

        &:after {
            display: block;
            content: '';
            margin: 30px auto 60px;
            max-width: 300px;
            border-bottom: 1px solid #D6CCC7;
        }
    }

    ul.comment-list {
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 60px;
            list-style-type: none;

            a {
                display: inline-block;
                padding-bottom: 0px;
                margin-bottom: 5px;
            }
        }
    }

    .comment-author {
        font-size: 22px;
        font-weight: bold;

        a {
            border-bottom: none;
        }
    }

    .comment-meta {
        font-size: 16px;
    }

    .comment-content {
        font-size: 18px;
    }

    .reply {
        font-size: 18px;
        margin-top: 30px;
    }

    .comment-respond {
        margin-top: 90px;

        input[type="text"] {
            display: block;
            margin-bottom: 5px;
            width: 100%;
            margin-bottom: 20px;
            padding: 10px;
            background: #F6F4ED;
            border: 1px solid #D6CCC7;
        }

        textarea {
            width: 100%;
            padding: 10px;
            height: 200px;
            background: #F6F4ED;
            border: 1px solid #D6CCC7;
        }

        button {
            margin-top: 20px;
            padding: 15px 30px;
            background: transparent;
            border: 1px solid #D6CCC7;
            font-family: "Old Standard TT", Times New Roman, serif;
            font-size: 16px;
            line-height: 1.5;
            color: #433F3F;
            cursor: pointer;
            transition: background .15s ease-in-out;

            &:hover {
                background: #D6CCC7;
            }
        }
    }

    .comment-reply-title {
        display: block;
        margin-bottom: 5px;
        color: #64625C;
    }

    .nav-links {
        margin-top: 150px;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        overflow: auto;
        zoom: 1;

        a {
            padding-bottom: 10px;
            color: #433F3F;
            text-decoration: none;
            border-bottom: none;

            &:hover {
                color: #a34040;
            }
        }
    }

    .previous-post,
    .next-post {
        display: block;
        width: 50%;
    }

    .previous-post {
        float: left;
        text-align: left;
    }

    .next-post {
        float: right;
        text-align: right;
    }

    .site-footer {
        margin-top: 120px;
        text-align: center;
        font-size: 14px;
        line-height: 2;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    @media screen and (max-width: 680px) {
        #page {
            margin: 60px auto 30px;
        }

        .previous-post,
        .next-post {
            width: 100%;
            float: none;
            text-align: center;
        }
    }
}
