{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% block asc_single_post %}
        {% for post in posts.elements %}
            <div class="asc-single-post">
                <div id="page">
                    <header class="site-header" role="banner" style="background: url({{ post.media.url }});">

                    </header>
                    <div class="site-content">
                        <div class="content-area">
                            <main class="site-main" role="main">
                                <article class="post">
                                    <h1 class="entry-title">{{ post.translated.postTitle }}</h1>
                                    <div class="entry-meta">
                                        <span class="posted-on">{{ post.createdAt.date|date("F d, Y") }}</span>
                                    </div>
                                    <div class="entry-content">
                                        <p>{{ post.translated.postContent|raw }}</p>
                                    </div>
                                    <footer class="entry-footer">
                                        <p>Categories: <a href="#">Aesop’s Fables</a>. Tags: <a href="#">Cat</a>, <a href="#">Mouse</a>, <a href="#">Bells</a>.</p>
                                    </footer>
                                </article>
                                <div class="comments-area">
                                    <h2 class="comment-title">Notes</h2>
                                    <ul class="comment-list">
                                        {% for comment in post.postComments.elements %}
                                            <li class="comment">
                                                <div class="comment-author"><a href="#">{{ comment.user.username }}</a></div>
                                                <div class="comment-meta"><a href="#">{{ comment.createdAt|date("m/d/y H:i A") }}</a> • <a href="#">Edit</a></div>
                                                <div class="comment-content"><p>{{ comment.postComment }}</p></div>
                                                <div class="reply"><a href="#">Reply</a></div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="comment-respond">
                                        <h2>Leave a Reply</h2>
                                        <label class="comment-reply-title" for="name">Your Name</label>
                                        <input type="text" id="name" />
                                        <label class="comment-reply-title" for="email">Your Email</label>
                                        <input type="text" id="email" />
                                        <label class="comment-reply-title" for="website">Your Website</label>
                                        <input type="text" id="website" />
                                        <label class="comment-reply-title" for="message">Your Note</label>
                                        <textarea id="message"></textarea>
                                        <button>Submit Note</button>
                                    </div>
                                </div>
                            </main>
                            <div class="nav-links">
                                <a href="" class="previous-post">&larr; The Camel</a>
                                <a href="" class="next-post">The Bee and Jupiter &rarr;</a>
                            </div>
                        </div>
                    </div>
                    <footer class="site-footer" role="contentinfo">
                        <div class="site-info">
                            <p><a href="https://wordpress.com/?ref=footer_website">Create a free website or blog at WordPress.com</a>.</p>
                            <p><a href="#" title="Learn more about this theme">The Ledger Theme</a> by <a href="http://wordpress.com/themes/" rel="designer">Automattic</a>.		</p>
                        </div>
                    </footer>
                </div>
            </div>
        {% endfor %}
    {% endblock %}
{% endblock %}
