{% block sw_product_detail %}
    <sw-page class="sw-product-detail">
        {% block sw_product_detail_language_switch %}
            <template slot="language-switch">
                <sw-language-switch
                    @on-change="onChangeLanguage">
                </sw-language-switch>
            </template>
        {% endblock %}

        {% block sw_review_detail_actions %}
            <template slot="smart-bar-actions">
                {% block sw_review_detail_actions_save %}
                    <sw-button :disabled="false" variant="primary" :square="false" :block="false" :isLoading="isLoading"  @click.prevent="onClickSave()">
                        {{ post.id ? 'Save post' : 'Add post' }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        <sw-card-view slot="content">
            <sw-card :hero="false" :isLoading="isLoading" :large="true" v-if="post" style='margin-top: 30px'>

                <sw-alert v-if="showSuccessMsg" variant="success" appearance="default" :showIcon="true" :closable="false">
                    {{ msg }}
                </sw-alert>

                <sw-alert v-if="showErrorMsg" variant="error" appearance="default" :showIcon="true" :closable="false">
                    {{ msg }}
                </sw-alert>

                <sw-multi-select
                    label="Select a category:"
                    placeholder="Choose post category"
                    :options="categorySelectionDropdown"
                    :value="categorySelectionValue"
                    :isLoading="filterLoading"
                    ref="selected_cat"
                    @change="onSetSelectedCat">
                </sw-multi-select>

                <sw-text-field :copyable="false" label="Post Title:" :copyableTooltip="false" v-model="post.postTitle" ref='postTitle' placeholder="Post Title">
                    Post Title
                </sw-text-field>

                <sw-text-field :copyable="false" label="Post Slug:" :copyableTooltip="false" v-model="post.postSlug" ref='postSlug' placeholder="Post Slug">
                    Post Slug
                </sw-text-field>

                <sw-text-editor placeholder="Post Content" label="Post Content" ref="postContent" v-model="post.postContent">
                </sw-text-editor>

                <sw-upload-store-listener uploadTag='splashScreen'
                                          autoUpload
                                          @media-upload-finish="setMediaItem($event, 'splashScreen')">
                </sw-upload-store-listener>

                <sw-media-upload
                    style="padding-top: 20px"
                    uploadTag="splashScreen"
                    variant="regular"
                    :allowMultiSelect="false"
                    autoUpload="true"
                    label="Upload an image that will be the base of your scene"
                    @media-drop="onDropMedia($event, 'appIcon')"
                    @media-upload-remove-image="onRemoveMedia('appIcon')"
                    @media-upload-sidebar-open="openMediaSidebar('appIcon')">
                </sw-media-upload>

                <br>

                <sw-textarea-field type="textarea" label="Short description" placeholder="Short description" v-model="post.postExcerpt" ref='postExcerpt'></sw-textarea-field>

                <sw-text-field :copyable="false" label="Post Status:" :copyableTooltip="false" v-model="post.postStatus" ref='postStatus' placeholder="Post Status">
                    Post Status
                </sw-text-field>

                <sw-text-field :copyable="false" label="Comment Status:" :copyableTooltip="false" v-model="post.commentStatus" ref='commentStatus' placeholder="Comment Status">
                    Comment Status
                </sw-text-field>

                <sw-text-field :copyable="false" label="Post Type:" :copyableTooltip="false" v-model="post.postType" ref='postType' placeholder="Post Type">
                    Post Type
                </sw-text-field>

            </sw-card>
        </sw-card-view>
    </sw-page>

{% endblock %}
